@charset "UTF-8";

.board_boardName{
	text-align: center;
}

.board_container{
	display:flex;
	width: 100%;
	height: 100%;
	margin-top: 30px;
}

.board{
	margin-left: 200px;
	margin-right: 200px;
	flex-grow: 8.5;
	height: 100%;
	text-align: center;
}

.user_list{
	flex-grow: 1.5;
	margin-right: 100px;
	border: solid black 1px;
	text-align: center;
}
.board_table{
	width: 100%;
}
.board_table tr td{
	border: solid black 1px;
}
.board_no{
	width: 5%;
}

.board_title{
	width: 60%;
}

.board_username{
	width: 8%;
}
.board_date{
	width: 10%
}

.board_write_btn_div{
	text-align: left;
}

.page_ul{
	list-style: none;	
}

.page_li{
	float: left;
	margin: 10px;
}

.page_ul li{
	cursor: pointer;
}

.disable_evt{
	pointer-events: none;
	opacity: 0.65;

}

.disable_cursor{
	cursor: default;
}

.enable_pageNum{
	font-weight: bold;
}